---
import '../global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="../global.css">
		<title>Ethan Crawford</title>
	</head>
	<body>
		<header />
		<div class="layout">
			<nav class="nav-left">
				<h3>Navigation</h3>
					<ul>
						<li><a href="./Home">Home</a></li>
						<li><a href="./Resume">Résumé</a></li>
						<li><a href="">Sitemap</a></li>
					</ul>
				</nav>
			<main class="content">
				<slot />
			</main>
			<aside class="nav-right">
				<h3>About Me</h3>
				<p>Secondary content or metadata.</p>
			</aside>
		</div>
		<footer>© 2026 Ethan Crawford</footer>

		<script>
		const content = document.querySelector('.content');
		let scrollbarTimeout;

		function showScrollbar() {
			content.classList.add('show-scrollbar');

			clearTimeout(scrollbarTimeout);
			scrollbarTimeout = setTimeout(() => {
			content.classList.remove('show-scrollbar');
			}, 2000);
		}

		content.addEventListener('scroll', showScrollbar);
		content.addEventListener('mouseenter', showScrollbar);
		</script>

	</body>
</html>
