---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section>
		<h1>Welcome</h1>
		<p>
			In the future, I will use the homepage to showcase a particular project. For now, please see my <a href="https://github.com/ecrawford4/">GitHub</a> for a complete portfolio of my public projects.
		</p>
		
</Layout>
