---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section>
		<h1>Résumé</h1>
	</section>

	<section class="card">
		<h2>Education</h2>
        <div class="section">
            <h3>
                Bachelor of Science in Computer Science
                <info>
                    earned in spring 2025
                </info>
            </h3>
            <div class="section-content">
                <h4>
                    Relevant Studies:
                </h4>
                <p>
                    I have studied data structures, algorithms, cybersecurity, gray hat hacking, database management systems, web development, data mining, big data analytics, networks, operating systems, microprocessor programming, compilers, as well as topics in mathematics such as calculus, linear algebra, and discrete mathematics.
                </p>
                <h4>
                    Technical Skills:
                </h4>
                <p>
                    I am comfortable using Java, C, C++, HTML, CSS, JavaScript, Python, and several other languages and technologies. Please see my github for a more detailed portfolio of my technical experience and my work.
                    
                </p>
                <h4>
                    Extracurricular Activities:
                </h4>
                <p>
                    In order to fund my degree in computer science, I received a scholarship for music performance&mdash;I also earned a minor in music. I was heavily involved in various large and small ensembles, including the EWU Symphony Orchestra, the EWU Wind Ensemble (I was the principal oboist in this group for six years), the EWU Reparatory Jazz Orchestra, the EWU Marching Band, and Code Red, Eastern's elite pep band. I received an additional scholarship for my participation in Code Red.
                </p>
            </div>
        </div>
	</section>

	<section class="card">
		<h2>Employment</h2>
        <div class="section">

            <h3>
                Jones Double Reed Products <info>2020 to present</info>
            </h3>
            <div class="section-content">

                <h4>
                    Quality Control
                </h4>
                <p>
                    In this position I inspect and play-test each oboe reed individually to ensure they meet the company's standards of playability, tone quality, pitch, and cosmetics. I also categorize reeds by strength, and I continually give feedback to improve the manufacturing process.
                </p>
                <h4>
                    Manufacturing
                </h4>
                <p>
                    In this position I operate light machinery to perform fine manufacturing processes along the oboe and bassoon reed assembly lines.
                </p>
            </div>
        </div>
	</section>

	<section class="card">
		<h2>Leadership</h2>
        <div class="section">
            <h3><a href="https://www.nsls.org/" target="_blank">National Society of Leadership and Success</a></h3>
            <div class="section-content">
                <p>The NSLS is the largest leadership honor society in the United States, with over 1.8 million members across 800+ chapters. The NSLS has helped me grow professionally and personally. Their programs promote leadership skills, help students set and achieve goals, and help students form a community based on high academic achievement. Their exclusive platform offers access to a variety of resources, including speaker broadcasts, personalized success plans, and networking events.</p>
            </div>    
        </div>
        <div class="section">
            <h3>
                EWU Music Department
            </h3>
            
            <div class="section-content">

                <h4>
                    Wind Ensemble and Orchestra
                </h4>
            
                    <p>
                        I held the principal oboe position in Eastern's Wind Ensemble and Orchestra from fall 2019 until spring 2025.
                    </p>
                
            
            
            
                <h4>
                    Marching band
                </h4>
                
                    <p>
                        From the 2021 season through the 2025 season, I was the mellophone section leader in the EWU Marching Band. Responsibilities include attendance of leadership meetings in addition to regular rehearsals, leading sectional rehearsals, and assisting the band director with various logistical tasks.
                    </p>
            
            
            
                <h4>
                    Code Red
                </h4>
                
                    <p>
                        I was a member of Code Red from the 2021 season until I graduated in 2025. Code Red is an audition-based pep band that performs at many of Eastern's volleyball and basketball games. I held the principal mellophone position every season I participated.
                    </p>
                
                
                
            </div>
            </div>

            <div class="section">  
                <h3>Lewis & Clark High School High Brass Technician</h3>
                <div class="section-content">
                    <p>
                        For one season in 2022, I was the High Brass Technician at Lewis & Clark High School in Spokane, WA. I was responsible for teaching and leading the trumpet and mellophone sections during sectional rehearsals. I helped lead music rehearsals and marching drills.
                    </p>
                </div>
            </div>
	</section>
</Layout>
