---
import '../sitemap.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="../sitemap.css">
		<title>Ethan Crawford's Professional Website</title>
    </head>
    <body>
    <pre>
<a class="top" href="https://github.com/ecrawford4/ecrawford.me">https://github.com/ecrawford4/ecrawford.me</a>
├── <a href="https://github.com/ecrawford4/ecrawford.me/tree/main/.vscode" class="dir" target="_blank">.vscode</a>
│   └── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/.vscode/settings.json" class="file" target="_blank">settings.json</a>
├── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/LICENSE" class="file" target="_blank">LICENSE</a>
├── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/README.md" class="file" target="_blank">README.md</a>
└── <a href="https://github.com/ecrawford4/ecrawford.me/tree/main/web" class="dir" target="_blank">web</a>
    ├── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/.gitignore" class="file" target="_blank">.gitignore</a>
    ├── <a href="https://github.com/ecrawford4/ecrawford.me/tree/main/web/.vscode" class="dir" target="_blank">.vscode</a>
    │   ├── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/.vscode/extensions.json" class="file" target="_blank">extensions.json</a>
    │   └── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/.vscode/launch.json" class="file" target="_blank">launch.json</a>
    ├── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/README.md" class="file" target="_blank">README.md</a>
    ├── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/astro.config.mjs" class="file" target="_blank">astro.config.mjs</a>
    ├── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/netlify.toml" class="file" target="_blank">netlify.toml</a>
    ├── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/package-lock.json" class="file" target="_blank">package-lock.json</a>
    ├── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/package.json" class="file" target="_blank">package.json</a>
    ├── <a href="https://github.com/ecrawford4/ecrawford.me/tree/main/web/public" class="dir" target="_blank">public</a>
    │   ├── <a href="https://github.com/ecrawford4/ecrawford.me/tree/main/web/public/assets" class="dir" target="_blank">assets</a>
    │   │   ├── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/public/assets/enc.svg" class="file" target="_blank">enc.svg</a>
    │   │   └── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/public/assets/head.jpg" class="file" target="_blank">head.jpg</a>
    │   └── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/public/favicon.svg" class="file" target="_blank">favicon.svg</a>
    ├── <a href="https://github.com/ecrawford4/ecrawford.me/tree/main/web/src" class="dir" target="_blank">src</a>
    │   ├── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/src/global.css" class="file" target="_blank">global.css</a>
    │   ├── <a href="https://github.com/ecrawford4/ecrawford.me/tree/main/web/src/layouts" class="dir" target="_blank">layouts</a>
    │   │   └── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/src/layouts/Layout.astro" class="file" target="_blank">Layout.astro</a>
    │   ├── <a href="https://github.com/ecrawford4/ecrawford.me/tree/main/web/src/pages" class="dir" target="_blank">pages</a>
    │   │   ├── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/src/pages/Home.astro" class="file" target="_blank">Home.astro</a>
    │   │   ├── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/src/pages/Resume.astro" class="file" target="_blank">Resume.astro</a>
    │   │   └── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/src/pages/Sitemap.astro" class="file" target="_blank">Sitemap.astro</a>
    │   └── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/src/sitemap.css" class="file" target="_blank">sitemap.css</a>
    └── <a href="https://github.com/ecrawford4/ecrawford.me/blob/main/web/tsconfig.json" class="file" target="_blank">tsconfig.json</a>

sitemap generated using <a class="src" href="https://github.com/ecrawford4/sitemap-generator">sitemap-generator</a> at: 2026-01-18 13:03:37 UTC
    </pre>
    </body>
